<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>weebLine</title>
</head>
<body>
    <nav id="header">
        <div class="nav-bar">
            <a href="/home">home</a>
            <ul class="header-buttons">
                <li>
                    <a href="/new">New Post</a>
                </li>
                <li>
                    <a href="/profile">profile</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <ul>
            <% for(let i = 0; i < posts.length; i++){ %>
                <li>
                    <a href=""><%=posts[i].username %></a></br>
                    <a href=""><%=posts[i].pfp %> </a></br>
                    <a href=""><%=posts[i].img %> </a></br>
                    <p><%=posts[i].description %> </p></br>
                </li>
                <% } %>  
        </ul>
    </main>
</body>
</html>