
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>weebLine</title>
</head>

<body>
    <nav id="header">
        <div class="nav-bar">
            <ul class="header-buttons">
                <li class="nav-buttons">
                    <a  id='home-button' href="/home">Home</a>
                </li>
                <li class="nav-buttons">
                    <a id='new-button'href="/new">New Post</a>
                </li>
                <li class="nav-buttons">
                    <a id='profile-button'href="/profile">Profile</a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <h1>New Post</h1>
    </header>
    <main>
        <form action="/home" method="POST">
            <input type="text" placeholder="What's your username?" name="username" /></br>
            <input type="text" placeholder="avatar img URL"name="pfp" /></br>
            <input type="text" placeholder="Manga Cover img URL" name="img" /></br>
            <input type="text" placeholder="Brief description"name="description" /></br>
            <textarea name="review" placeholder="Leave your full review here!"></textarea>
            <input type="submit" value="Post!" />
        </form>
    </main>
</body>

</html>
