/* .nav-bar {
    display: inline;
} */

/* .nav-buttons{
    display: inline;
} */

/* .nav-bar{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
} */

#header{
    padding: 20px;
    /* margin-top: 30px; */
}

#home-button{
    position: absolute;
    top: 10px;
    left: 20px;
}

#new-button{
    position: absolute;
    top: 10px;
    right: 70px;
}

#profile-button{
    position: absolute;
    top: 10px;
    right: 15px;
}

li{
    list-style: none;
}

#post-object{
    text-align: center;
    padding: 20px;

}

#pfp{
    max-width: 30px;
    border-radius: 50%;
    outline: 2px solid  black;

}

#post-img{
    max-width: 600px;
    border-radius: 8px;
    outline: 1.5px solid black;
}