/* .nav-bar {
    display: inline;
} */

/* .nav-buttons{
    display: inline;
} */

/* .nav-bar{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
} */

#home-button{
    text-align: left;
}

#new-button{
    text-align: right;
    justify-content: right;
}

#profile-button{
    text-align: right;
    justify-content: right;
}

li{
    list-style: none;
}
